name: publish

on:
  push:
  workflow_dispatch:

jobs:
  publish-image:
    strategy:
      fail-fast: false
      matrix:
        nginx: ['1.18', '1.20', '1.22', '1.24', '1.26', '1.28']
        include:
          - latest: false
          - latest: true
            nginx: '1.18'

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        name: Check out code

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: |
            ghcr.io/k0ka/nginx-geoip2
          tags: |
            type=raw,value=${{ matrix.nginx }}
            type=raw,value=latest,enable=${{ matrix.latest }}

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: NGINX_VERSION=${{ matrix.nginx }}